@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 120 60% 93%;
    --foreground: 140 30% 10%;
    --card: 0 0% 100%;
    --card-foreground: 140 30% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 140 30% 10%;
    --primary: 140 65% 35%;
    --primary-foreground: 140 20% 98%;
    --secondary: 140 20% 90%;
    --secondary-foreground: 140 30% 10%;
    --muted: 140 20% 90%;
    --muted-foreground: 140 20% 45%;
    --accent: 120 73% 75%;
    --accent-foreground: 140 30% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 140 20% 85%;
    --input: 140 20% 85%;
    --ring: 140 65% 35%;
    --chart-1: 140 65% 35%;
    --chart-2: 120 73% 75%;
    --chart-3: 140 50% 60%;
    --chart-4: 140 40% 70%;
    --chart-5: 140 30% 80%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 140 30% 10%;
    --sidebar-primary: 140 65% 35%;
    --sidebar-primary-foreground: 140 20% 98%;
    --sidebar-accent: 140 20% 90%;
    --sidebar-accent-foreground: 140 30% 10%;
    --sidebar-border: 140 20% 85%;
    --sidebar-ring: 140 65% 35%;
  }
  .dark {
    --background: 140 10% 5%;
    --foreground: 140 10% 95%;
    --card: 140 10% 10%;
    --card-foreground: 140 10% 95%;
    --popover: 140 10% 5%;
    --popover-foreground: 140 10% 95%;
    --primary: 140 60% 45%;
    --primary-foreground: 140 20% 98%;
    --secondary: 140 10% 15%;
    --secondary-foreground: 140 10% 95%;
    --muted: 140 10% 15%;
    --muted-foreground: 140 10% 65%;
    --accent: 120 73% 65%;
    --accent-foreground: 140 30% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 140 10% 15%;
    --input: 140 10% 15%;
    --ring: 140 60% 45%;
    --chart-1: 140 60% 45%;
    --chart-2: 120 73% 65%;
    --chart-3: 140 50% 50%;
    --chart-4: 140 40% 40%;
    --chart-5: 140 30% 30%;
    --sidebar-background: 140 10% 10%;
    --sidebar-foreground: 140 10% 95%;
    --sidebar-primary: 140 60% 45%;
    --sidebar-primary-foreground: 140 20% 98%;
    --sidebar-accent: 140 10% 20%;
    --sidebar-accent-foreground: 140 10% 95%;
    --sidebar-border: 140 10% 15%;
    --sidebar-ring: 140 60% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
